In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [6]:
import os
os.chdir('/content/drive/My Drive/project_captcha/dataset/captcha_labelled/captcha')
!ls

2020-05-05  2020-05-19	2020-05-26  2020-06-03	2020-06-10  2020-06-17
2020-05-06  2020-05-20	2020-05-27  2020-06-04	2020-06-11  2020-06-18
2020-05-14  2020-05-21	2020-05-28  2020-06-05	2020-06-12  2020-06-19
2020-05-15  2020-05-22	2020-05-29  2020-06-06	2020-06-13  2020-06-20
2020-05-16  2020-05-23	2020-05-30  2020-06-07	2020-06-14  2020-06-21
2020-05-17  2020-05-24	2020-06-01  2020-06-08	2020-06-15  2020-06-22
2020-05-18  2020-05-25	2020-06-02  2020-06-09	2020-06-16  2020-06-23

In [7]:
import glob
import numpy as np
import pandas as pd
import shutil
import cv2

In [5]:
folders_date = sorted(glob.glob('*'))
print(folders_date)

['2020-05-05', '2020-05-06', '2020-05-14', '2020-05-15', '2020-05-16', '2020-05-17', '2020-05-18', '2020-05-19', '2020-05-20', '2020-05-21', '2020-05-22', '2020-05-23', '2020-05-24', '2020-05-25', '2020-05-26', '2020-05-27', '2020-05-28', '2020-05-29', '2020-05-30', '2020-06-01', '2020-06-02', '2020-06-03', '2020-06-04', '2020-06-05', '2020-06-06', '2020-06-07', '2020-06-08', '2020-06-09', '2020-06-10', '2020-06-11', '2020-06-12', '2020-06-13', '2020-06-14', '2020-06-15', '2020-06-16', '2020-06-17', '2020-06-18', '2020-06-19', '2020-06-20', '2020-06-21', '2020-06-22', '2020-06-23']

Combining images from all folders into a single folder with serialno._labels.jpg

In [ ]:
i=1
for folder in folders_date:
    files = glob.glob(folder+'/*')
    for file in files:
        label = file.split('_')[-1]
        # print(label)
        im = cv2.imread(file,-1)
        cv2.imwrite('../../combined/'+str(i)+'_'+label+'.jpg',im)
        i+=1

Creating a label.csv based on serial no of images

In [24]:
os.chdir('/content/drive/My Drive/project_captcha/dataset/combined')
images = sorted(glob.glob('*.jpg'))

serial_list = []
label_list = []
for image in images:
    serial_no, label = image.split('_')
    serial_list.append(str(serial_no))
    label_list.append(label.split('.')[0])

In [25]:
data = {'id': serial_list,'label': label_list}
df = pd.DataFrame(data=data)

In [26]:
df.head()

     id  label
0  1000  89W6U
1  1001  79JKQ
2  1002  424KM
3  1003  Z833Q
4  1004  7VH32

In [27]:
df.to_csv('../label.csv', index=False)